In [2]:
# Dependencies
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
# Read the datafiles
cityDataDf = pd.read_csv(os.path.join("raw_data","city_data.csv"))
rideDataDf = pd.read_csv(os.path.join("raw_data","ride_data.csv"))
cityDataDf

                     city  driver_count      type
0              Kelseyland            63     Urban
1              Nguyenbury             8     Urban
2            East Douglas            12     Urban
3           West Dawnfurt            34     Urban
4          Rodriguezburgh            52     Urban
5       South Josephville             4     Urban
6        West Sydneyhaven            70     Urban
7             Travisville            37     Urban
8             Torresshire            70     Urban
9               Lisaville            66     Urban
10              Mooreview            34     Urban
11             Smithhaven            67     Urban
12            Carrollfort            55     Urban
13        Port Josephfurt            28     Urban
14       Lake Jeffreyland            15     Urban
15            South Louis            12     Urban
16             West Peter            61     Urban
17        Kimberlychester            13     Urban
18             Alyssaberg            67     Urban
19               Sarabury            46     Urban
20            Yolandafurt             7     Urban
21            Edwardsbury            11     Urban
22        New Andreamouth            42     Urban
23              New David            31     Urban
24             Arnoldview            41     Urban
25           Williamshire            70     Urban
26               Lisatown            47     Urban
27              New Aaron            60     Urban
28            Swansonbury            64     Urban
29             Fosterside            69     Urban
..                    ...           ...       ...
96               New Lynn            20  Suburban
97              Port Jose            11  Suburban
98               Johnland            13  Suburban
99              West Tony            17  Suburban
100            Port James             3  Suburban
101          Campbellport            26  Suburban
102          Port Guytown            26  Suburban
103           Webstertown            26  Suburban
104             Clarkstad            21  Suburban
105       North Tracyfort            18  Suburban
106           Martinmouth             5  Suburban
107      New Jessicamouth            22  Suburban
108  South Elizabethmouth             3     Rural
109         East Troybury             3     Rural
110             Kinghaven             3     Rural
111          New Johnbury             6     Rural
112              Erikport             3     Rural
113           Jacksonfort             6     Rural
114           Shelbyhaven             9     Rural
115           Matthewside             4     Rural
116          Kennethburgh             3     Rural
117          South Joseph             3     Rural
118         Manuelchester             7     Rural
119           Stevensport             6     Rural
120         North Whitney            10     Rural
121          East Stephen             6     Rural
122           East Leslie             9     Rural
123        Hernandezshire            10     Rural
124             Horneland             8     Rural
125        West Kevintown             5     Rural

[126 rows x 3 columns]

In [22]:
# Create your summary dataframes/data
sumRideDataDf = rideDataDf.groupby(['city']).agg({'fare':['sum'],'city':['count']})
sumRideDataDf.reset_index(inplace = True)
sumRideDataDf.columns=[''.join(col) for col in sumRideDataDf.columns]
pd.DataFrame(sumRideDataDf.to_records())
sumRideDataDf = sumRideDataDf.rename(columns = {'faresum': 'Total Fare Amt','citycount': 'Num Rides' })
sumRideDataDf

#df = data.groupby('Seed').agg(
#    {'age':['sum'],
#     'height':['mean', 'std']})

                     city  Total Fare Amt  Num Rides
0            Alvarezhaven          741.79         31
1              Alyssaberg          535.85         26
2              Anitamouth          335.84          9
3            Antoniomouth          519.75         22
4            Aprilchester          417.65         19
5              Arnoldview          778.30         31
6            Campbellport          505.67         15
7             Carrollbury          366.06         10
8             Carrollfort          736.47         29
9               Clarkstad          372.62         12
10            Conwaymouth          380.51         11
11              Davidtown          482.54         21
12              Davistown          537.43         25
13        East Cherylfurt          408.41         13
14           East Douglas          575.72         22
15              East Erin          685.39         28
16   East Jenniferchester          619.39         19
17            East Leslie          370.27         11
18           East Stephen          390.53         10
19          East Troybury          232.71          7
20            Edwardsbury          725.67         27
21               Erikport          240.35          8
22               Eriktown          484.10         19
23             Floresberg          323.10         10
24             Fosterside          552.83         24
25         Hernandezshire          288.02          9
26              Horneland           85.93          4
27            Jacksonfort          192.04          6
28              Jacobfort          768.16         31
29              Jasonfort          333.98         12
..                    ...             ...        ...
95              South Roy          572.69         22
96   South Shannonborough          397.75         15
97            Spencertown          615.71         26
98            Stevensport          159.74          5
99            Stewartview          648.42         30
100           Swansonbury          933.80         34
101            Thomastown          727.40         24
102            Tiffanyton          370.63         13
103           Torresshire          629.39         26
104           Travisville          626.08         23
105            Vickimouth          322.12         15
106           Webstertown          475.54         16
107           West Alexis          390.46         20
108           West Brandy          724.73         30
109      West Brittanyton          610.47         24
110         West Dawnfurt          647.58         29
111             West Evan          324.16         12
112      West Jefferyfurt          442.53         21
113        West Kevintown          150.70          7
114            West Oscar          704.12         29
115    West Pamelaborough          473.19         14
116         West Paulport          565.73         17
117            West Peter          771.14         31
118      West Sydneyhaven          402.63         18
119             West Tony          562.58         19
120        Williamchester          377.06         11
121          Williamshire          836.70         31
122           Wiseborough          430.86         19
123           Yolandafurt          544.11         20
124        Zimmermanmouth          679.24         24

[125 rows x 3 columns]